/Lab_1
/Lab_1_Solution
/Lab_2_Solution
/matrix_tests.txt
Lab_2_Notebook_Solution/kernel0.cu
Lab_2_Notebook_Solution/kernel0.exe
Lab_2_Notebook_Solution/inputfile.txt
Lab_2_Notebook_Solution/kernel0.lib
Lab_2_Notebook_Solution/kernel1.exe
Lab_2_Notebook_Solution/kernel0.exp
Lab_2_Notebook_Solution/kernel1.exp
.gitignore
Lab_2_Notebook_Solution/kernel2.cu
Lab_2_Notebook_Solution/kernel2.exp
Lab_2_Notebook_Solution/kernel1.lib
Lab_2_Notebook_Solution/kernel3.cu
Lab_2_Notebook_Solution/kernel3.exp
Lab_2_Notebook_Solution/kernel3.exe
Lab_2_Notebook_Solution/kernel2.lib
Lab_2_Notebook_Solution/kernel1.cu
Lab_2_Notebook_Solution/kernel2.exe
Lab_2_Notebook_Solution/kernel3.lib
Lab_2_Notebook_Solution/outputfile_cpu.txt
