/Lab_1
/Lab_1_Solution
/Lab_2_Solution
/matrix_tests.txt
Lab_2_Notebook_Solution/kernel0.exe
Lab_2_Notebook_Solution/inputfile.txt
Lab_2_Notebook_Solution/kernel0.lib
Lab_2_Notebook_Solution/kernel1.exe
Lab_2_Notebook_Solution/kernel0.exp
Lab_2_Notebook_Solution/kernel1.exp
.gitignore
Lab_2_Notebook_Solution/kernel2.exp
Lab_2_Notebook_Solution/kernel1.lib

Lab_2_Notebook_Solution/kernel3.exp
Lab_2_Notebook_Solution/kernel3.exe
Lab_2_Notebook_Solution/kernel2.lib

Lab_2_Notebook_Solution/kernel2.exe
Lab_2_Notebook_Solution/kernel3.lib
Lab_2_Notebook_Solution/outputfile_cpu.txt

Lab_2_Notebook_Solution/kernel.exe
Lab_2_Notebook_Solution/kernel.exp
Lab_2_Notebook_Solution/kernel.lib
Lab_2_Notebook_Solution/1210207.zip
Lab_2_Notebook_Solution/outputfile_kernel1.txt
Lab_2_Notebook_Solution/outputfile_kernel3.txt
Lab_2_Notebook_Solution/cude_kernels/kernel2.exe
Lab_2_Notebook_Solution/outputfile_kernel2.txt
Lab_2_Notebook_Solution/cude_kernels/kernel2.exp
Lab_2_Notebook_Solution/cude_kernels/kernel2.lib
Lab_3/1210207.zip
Lab_3/inputfile.txt
Lab_3/kernel.cu
Lab_3/kernel.exe
Lab_3/kernel.exp
Lab_3/kernel.lib
Lab_3/kernel0.exe
Lab_3/kernel0.cu
Lab_3/kernel0.exp
Lab_3/kernel0.lib
Lab_3/kernel1.cu
Lab_3/kernel1.exe
Lab_3/kernel1.exp
Lab_3/kernel1.lib
Lab_3/kernel2.exe
Lab_3/kernel2.exp
Lab_3/kernel2.lib
Lab_3/kernel3.cu
Lab_3/kernel3.exe
Lab_3/kernel3.exp
Lab_3/kernel3.lib
Lab_3/outputfile_cpu.txt
Lab_3/outputfile_kernel1.txt
Lab_3/outputfile_kernel2.txt
Lab_3/outputfile_kernel3.txt
Lab_3/q1.txt
Lab_3/q2.txt
Lab_3/cude_kernels/kernel2.exe
Lab_3/cude_kernels/kernel2.exp
Lab_3/cude_kernels/kernel2.lib
Lab_3/Solution/cuda_kernels/bin
Lab_3/Random
Lab_3/Solution/Output_TestCases
Lab_3/Solution/Input_TestCases
Lab_3/Solution/analytics_Bin
Lab_4/Solution/cuda_kernels/bin
Lab_4/Solution/Generator_TestCases
Lab_4/Solution/Output_TestCases
Lab_4/Solution/analytics_Bin
Lab_5/Solution/cuda_kernels/bin
Lab_5/Solution/Input_TestCases
Lab_5/Solution/Output_TestCases
